#cartPage{
    width: 100%;
    height: auto;
    margin: 6rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
    padding: 1.5rem 1rem;
}
#cartPage #table, #chechOutProcess, .pageHeader{
    width: 100%;
}

#cartPage table th{
    border: 0.5px solid;
    text-align: left;
    padding: 0.4rem 0.6rem;
    font-weight: medium;
    text-transform: capitalize;
}

#cartPage table tr td img{
    width: 20%;
    height: 20%;
}

#cartPage table tr input{
    width: 100%;
    padding: 0.6rem 0.6rem;
}

#cartPage table tr td .closepd{
    font-size: 40px;
    font-weight: normal;
    color: red;
    display: block;
    transform: rotate(45deg);
    cursor: pointer;
}
#cartPage table tr td button{
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    color: #fff;
    background-color: lime;
    text-transform: capitalize;
}
#cartPage table tr .button{
    padding: 0.4rem;
}
 #cartPage .pageHeader{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}

#cartPage #chechOutProcess{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#cartPage #chechOutProcess .block{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}  
#cartPage #chechOutProcess .block #list{
    width: 100%;
} 
#cartPage #chechOutProcess .block #list #listItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cartPage #chechOutProcess .block #list #listItem .listBox{
    width: 33%;
    padding: 0.4rem 0.4rem;
}

#cartPage #chechOutProcess .block #list #listItem:nth-child(odd){
    background-color: #92e092;
}
#cartPage #chechOutProcess .block #list #listItem:nth-child(even){
    background-color: #f3ecec;
}
#cartPage #chechOutProcess .block button{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0rem;
    cursor: pointer;
    background-color: lime;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

